:root
  --text: #4f4f69
  --text-secondary: #808086
  --bg: #F8F8F9
  --bg-card: #FFFFFF
  --border: #E8EBF0
  --shadow: 0px 8px 14px rgba(225, 229, 238, 0.25)
  --accent: #595EDA
  --accent-green: #1fc587
  --accent-green-bg: #d6f4e9
  --accent-orange: #dd8f2d
  --accent-orange-bg: #ffefdd
  --accent-red: #f06262
  --accent-red-bg: #fddcdc
  --accent-other-bg: #e5e5ff
  --table-stripe-bg: #f3f3f5

  &[data-theme="dark"]
    --text: #FFFFFF
    --text-secondary: #A6A6BB
    --bg: #15171e
    --bg-card: #1a1d26
    --border: #2A2F37
    --shadow: 0px 8px 14px rgba(26, 29, 34, 0.25)
    --accent: #8387ff
    --accent-orange-bg: #3b3327
    --accent-green-bg: #21372f
    --accent-red-bg: #2e1d20
    --accent-other-bg: #262738
    --table-stripe-bg: #161921